.grid-image-grid .grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;

  /* Without this below property, there are
     weird blank spaces in the grid because of
     how everything else it.

  grid-auto-flow: [column|row|dense];
  dense makes everything fit as best it can w/out spaces.
  Pretty kick ass. Moves smaller items around to fill blank spaces.
  */

  grid-auto-flow: dense;
}

.grid-image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

