.flex-container.img-grid {
  display: flex;
  /*justify-content: center; */
  align-items: stretch;
  justify-content: center;

  flex-wrap: wrap;
}

.flex-container > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-container > div.normal  {
  flex: 1 1 150px;
}

.flex-container > div.big  {
  flex: 1 1 250px;
}
