.flex-container.order {
  display: flex;
}

.one {
  order: 1;
}

.three {
  order: -1;
}

/*

  order: [0, 1, 2, 3, -1, -2, -3, ...so on]

    default: 0
      anything ABOVE 0 will be set at the end, since everything is 0 by default

*/