.flex-container.nav-example {
  display: flex;
}

.flex-container > div {
  flex: 0;
}

.flex-container > div.search {
  flex-grow: 1;
}

@media all and (max-width: 600px) {
  .flex-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .flex-container > div {
    flex: 1 1 50%;
  }

  .flex-container > div.search {
    flex-grow: 1;
  }
}